
/* Se implemeta border box para toda la pagina */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Equilibra 1 rem a 10 px */
} 
* , *::before, *::after {
    box-sizing: inherit;
}
/* Global styles*/
body { 
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2; /*intelineado para el texto */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

img {
    max-width: 100%;
    /* para tomar solo el espacio disponible   */
    display: block;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;  /* aplica un transform params 1 a que dos tiempo y 3 tipo de trnasformation */
    text-align: center;
}
.btn:hover {
    background-color: #769602;
    cursor: pointer;
}

/* Urilidades */

.text-center {
    text-align: center;
}

.max-width {
    max-width: 30rem;
}

/* Header y navegacion */

.nombre-sitio {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}
.contenedor-navegacion {
    border-top: .2rem solid #e1e1e1;
}

.navegacion-principal {
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 2px; */
    padding: 2rem 0 2rem 0;
    display: flex; /* TODO habilitando flexbox*/
    flex-direction: row;  /*alineacion con flexbox */
    justify-content: space-between; 
    /* align-items: flex-end; */
    
}

.hero {
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categories */
.listado-categoria {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.categorias {
    padding-top: 5rem;
}
.categorias h2 {
    text-align: center;
}
.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background: #037bc0;
    color: #fff;
    border-radius: 0 0 2rem;
}

/* Sobre nosotros */
.sobre-nosotros{
    /* generando un gradiente */
    background-image: linear-gradient(to right, transparent 50% , #037bc0 50%, #037bc0 100% ),url('../img/nosotros.jpg');
    background-position: left center;
    padding: 10rem 0 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem; /* primera prop aplica al primer bg y 2da a 2do bg */
}
.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
}
.texto-nosotros {
    grid-column: 2 / 3;
    color: #fff;
}

/* listado producto */
.contenido-principal{
    padding-top: 5rem;
}

/* creando la grid de productos */
.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* para separar un poco las columnas */
    column-gap: 2rem;
    row-gap: 2rem;
}
.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}
.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}
.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}



.producto {
    background-color: #037bc0;
}
.texto-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;

}

.texto-producto{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900 !important;
}
/* Footer */
.side-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding: 5rem;
}
.side-footer h3{
    margin-bottom: .5rem;
}
/* grid footer con display flex */
/* .grid-footer {
    display: flex;
    gap: 2rem;
}
.grid-footer div {
    flex: 1; /* es el espacio dentro del flex que va a usar cada div se denomina factor de crecimiento
} */

/* grid footer con display flex */
.grid-footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4rem;
}
.footer-menu a {
    display: block;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}

/* Pagina de nosotros css    */
.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr)); /* para usar tamaño desde cuando cambiar la vista en pantallas pequeñas es como media queries  */
    column-gap: 4rem;
}
.informacion-nosotros {
    display:flex;
    flex-direction: column;
    justify-content: center
}

/* CSS de la pagina del blog*/

.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}

.entredas {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entredas:last-of-type {
    border:none;
    /* cuando encuenta el ultimo elemento aplica un nuevo estilo*/
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
    /* cambiando el display a flex para alinear con justify-content */
}
.entrada-meta p {
    font-weight: 700;
}
.entrada-meta span {
    font-weight: 700;
    color: #037bc0;
}
.contenido-entrada-blog{
    width: 60rem;
    margin: 0 auto;
}
.justificador p{
    text-align: justify;
}

/* GALERIA  */
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.galeria img {
    height:40rem;
    width: 100%;
    object-fit: cover;
}

/* Contactos Formulario */

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
    border-color: #000;
    border-width: 1px;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: #037bc0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 4rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;

}
.campo label {
    flex-basis: 10rem; /* le da un tamaño en este caso al label para alinear de acuerdo a lo que necesito */
}
.campo input[type="text"] { 
    flex:1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
.campo input[type="email"] { 
    flex:1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
.campo input[type="tel"], textarea, select, datalist { 
    flex:1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}




/* COMENTARIOS */
/* .sobre-nosotros {
     background-color: red;
     width: 200px;
     padding: 25px;
     /* box-sizing: border-box; border-box  define el tamaño de acuerdo al width 
} */


/* display  block es uno abajo del otro y inline es uno al lado del otro  inline-block permite darle 
width height y margin a un elemento que no puede tenerlo*/

/* Cada elemento tiene un display por default */

/* block permite width y height */
/* Para usar flexbox  se alinea desde el elemento padre */
/* flexbox permite alineacion vertical y horizontal */

    /* TODO justify content si el flex-direction es row alineacion horizontal de izquierda a derecha  y si es column alineacion el content verticalemte */
/* Para flex-direction row es justify-content */
/* Para flex-direction column es aling-items */
/*  un elemento no puede isar varios display */ 
/* unidasdes relativas toman su valor desde el elemento padre */
/* Buscar calculadora de rems en google */